.container {
	margin: 4rem 0;
	text-align: center;

	.wrapCard {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;

		.wrapContent {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.circle {
				margin-top: 2rem;
				width: 6rem;
				height: 6rem;
				background-color: #bbb;
				border-radius: 50%;
				display: inline-block;
				display: flex;
				align-items: center;
				justify-content: center;

				p {
					font-size: 40px;
					margin: 0;
					padding: 0;
				}
			}

			.widthButton {
				width: 100%;
				margin-bottom: 1rem;
			}
		}
	}
}
