.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
	background-color: #fff;
	padding-top: 5px;

	.link {
		display: flex;
		margin-left: calc(1.5rem * 0.5);
		justify-content: center;
		padding: 0.5rem;
		width: 100px;
		color: #161e2a;
		text-decoration: none;

		&:hover {
			cursor: pointer;
			opacity: 0.8;
			color: #fff;
			background-color: #161e2a;
		}

		.icon {
			font-size: 22px;
			margin-right: 5px;
		}

		p {
			font-size: 16px;
			font-weight: 500;
			margin: 0;
		}
	}
}
